<html>
    <head>
        <title>Home</title>
        <%- include('./partials/style.ejs') %>
    </head>
    <body>
        <%- include('./partials/topbar.ejs') %>
        <div class="sort-section">
           <label for="sort">Sort by: </label>
           <select id="sort" onchange="window.location.href='/?pages=1&sort='+this.value">
              <option value="title" <% if(sort=== 'title') { %>selected <% } %>>Title</option>
              <option value="createdAt" <% if(sort=== 'createdAt') { %>selected <% } %>>Date</option>
           </select>
        </div>
         <% if(blogData.length>0){ 
                for(let i=0; i<blogData.length; i++){
             %>
             <div class="blog-card">
                <div class="blog-title"><%= blogData[i].title %></div>
                <div class="blog-body"><%= blogData[i].body %></div>
                <div class="blog-date">Posted on: <%= blogData[i].createdAt.toLocaleDateString() %></div>

                <!-- <div class="blog-actions">
                    <a href="/editblog?blogId=<%= blogData[i]._id %>" class="edit-button">Edit</a>
                    <a href="/deleteblog?blogId=<%= blogData[i]._id %>" class="delete-button">Delete</a>
                </div> -->
             </div>    
        <% } } %>
        <div class="pagination">
            <% for(let i=1; i<=pages; i++){%>
                <a href="/?page=<%=i%>" <% if(i==current) {%> class = "activePage" <% } %> >
                    <%= i%>
                </a>
            <% } %>
        </div>
    </body>
</html>