<html>
    <head>
        <title>Add blogs</title>
        <%- include('./partials/style.ejs') %>
    </head>
    <body>
        <%- include('./partials/topbar.ejs') %>
        <a class="add-button" href="/addblog">Add blog +</a>
        <p>
            <% if(message){ %>
           <p><%= message %></p>
        <% } %>
        </p>
        <p>
            <% if(blogData.length>0){ 
                for(let i=0; i<blogData.length; i++){
             %>
             <div class="blog-card">
                <div class="blog-title"><%= blogData[i].title %></div>
                <div class="blog-body"><%= blogData[i].body %></div>
                <div class="blog-actions">
                    <a href="/editblog?blogId=<%= blogData[i]._id %>" class="edit-button">Edit</a>
                    <a href="/deleteblog?blogId=<%= blogData[i]._id %>" class="delete-button">Delete</a>
                </div>
             </div>
            
        <% } } %>
        </p>
    </body>
</html>